<div id="container">
    <div id="header">
        <h1>Edit file</h1>
    </div>
    <div id="content">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="input-group mb-3">
                <label for="title">File Title</label>
                <input formControlName="title" id="title" type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <label for="file-upload" class="btn">Upload</label>
                    <input type="file" class="dn" id="file-upload" #input (change)="onFileUpload($event)">
                </div>
            </div>
            <div id="actions">
                <button class="btn waves-effect waves-light" type="submit">Edit</button>
                <button (click)="onClose()" class="btn waves-effect waves-light red">Close</button>
            </div>
        </form>
    </div>
</div>
