<nav style="background-color: #3f87e1;">
  <div class="container">
    <a routerLink="/" class="brand-logo">FileUploader</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="http://github.com/salamkg" target="_blank">Github</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="row"><br><br>
      <router-outlet></router-outlet>
      
  </div>
</div>
<footer class="page-footer" style="background-color: #3f87e1;">
  <div class="container">
    <div class="row">
      <div class="col l12 s12">
        <h3 class="white-text">Fullstack App, 2022</h3>
      </div>
    </div>
  </div>
</footer>